@import "styles/_mixins.scss";
@import "styles/_colors.scss";

.button {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.primary {
  background: $primary;
  border: 1px solid $white;
  @include fonts(400, 14px, 14px, $white);

  &:hover{
    background: $white;
    border: 1px solid $grey-light;
    @include fonts(400, 14px, 19px, $accent);
  }
}

.ghost {
  background: $white;
  border: 1px solid $grey-light;
  @include fonts(400, 14px, 19px, $accent);

  &:hover{
    background: $primary;
    border: 1px solid $white;
    @include fonts(400, 14px, 14px, $white);
  }
}