@import 'styles/_mixins.scss';
@import 'styles/_colors.scss';

.wrapper {
  display: grid;
  min-height: 100vh;
  max-width: 1570px;
  margin: 0 auto;
  gap: 30px 20px;
  background: #f5f6f8;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    '. header header .'
    '. sidebar body .'
    'footer footer footer footer';

  & .skipLink {
    display: block;
    position: fixed;
    left: 100px;
    top: 0;
    height: 0;
    overflow: hidden;
    background: $primary;
    color: $white;
  }

  & .displayed {
    height: auto;
  }

  & .header {
    grid-area: header;
    display: none;
  }
  & .sidebar {
    grid-area: sidebar;
  }
  & .body {
    grid-area: body;
    outline: none;
  }
  & .footer {
    grid-area: footer;
  }

  @media screen and (max-width: 765px) {
    min-height: auto;
    width: 100%;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      'header'
      'body'
      'footer';
    padding: 0 14px;
    gap: 10px;

    & .header {
      display: grid;
    }
    & .sidebar {
      display: none;
    }
  }
}
