@import 'styles/_mixins.scss';
@import 'styles/_colors.scss';

.wrapper {
  width: 100%;
  position: relative;

  & .input {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    @include fonts(400, 16px, 22px, $accent);
    padding: 7px 15px;
    border: none;
    outline-color: $primary;
    background: $white;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;

    &::placeholder {
      color: #a4a4a4;
    }
  }

  & span {
    position: absolute;
    top: -16px;
    left: 0;
    @include fonts(400, 12px, 12px, $warm_red);
  }
}

.error {
  border: 1px solid $warm_red;
  border-radius: 5px;
}
