@import "styles/_mixins.scss";
@import "styles/_colors.scss";

.wrapper {
  position: relative;

  & .rating {

    & .star {
      margin-right: 5px;
    }

    & .isEditable {
      cursor: pointer;
    }

    & .filled {
      fill: $primary;
    }
  }

  & .red_stars{
    & span span svg{
      stroke: $warm_red;
    }
  }

  & .message{
    position: absolute;
    top: -21px;
    left: 0;
    @include fonts(400, 12px, 12px, $warm_red);
  }
}

.error{
  border: 1px solid $warm_red;
}