$white: #ffffff;
$grey-light: #ebebeb;
$accent: #3b434e;
$accent-light: #6c7077;
$light_green: #1dc37e;
$green: #127a4e;
$green-light: #c8f8e4;
$primary: #7351f5;
$primary-hover: #6344df;
$border: #ebebeb;
$warm_red: #fc836d;

$background-color: #0a1157;
$light-background: #2c326f;
$midday_sun: #ffde59;

$diamond_dust: #a3b1d0;
