$white: #FFFFFF;
$grey-light: #EBEBEB;
$accent: #3B434E;
$accent-light: #787D85;
$green: #1DC47E;
$green-light: #C8F8E4;
$primary: #7653FC;
$primary-hover: #6344DF;
$border: #EBEBEB;
$warm_red: #FC836D;



$background-color: #0A1157;
$light-background: #2C326F;
$midday_sun: #FFDE59;

$diamond_dust: #A3B1D0;